body {
    background-image: url('../images/homepage.jpg');
    background-size: 1950px, 1000px;
    background-repeat: no-repeat;
}

#headerRemaland {
    font-size: 4em;
    color: white;
    margin-left: 560px;
}

#login, #register {
    position: relative;
    bottom: 60px;
    margin-left: 1560px;
    color: white;
    font-size: 2.4em;
}

#register {
    margin-left: 20px;
}

